* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
section {
    overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
section {
    position: relative;
    z-index: 2;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 600px;
        padding: 0 25px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}
@keyframes pulsate {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
}
