.stats.ql-about {
    padding: 100px 0;

    .stats {
        &__title {
            text-align: left;
        }

        &__desc {
            text-align: left;
            margin: 0 0 50px 0;
            max-width: 450px;
        }

        &__content {
            gap: 0;
        }

        &__list {
            width: 100%;
            margin: 0;
        }

        &__interactive {
            display: none;
        }

        &__contact {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .stats.ql-about {
        padding: 50px 0;
    }
}

@media screen and (max-width: 768px) {
    .stats.ql-about {
        .stats {
            &__title {
                font-size: 36px;
            }
            &__desc {
                font-size: 16px;
                margin: 0 0 20px 0;
            }
        }
    }
}
